# just ignore the usual things not to send to git
# this is a list of files and directories that should not be tracked by git

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*
.idea
.vscode
/node_modules
/dist
/build
